
body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #353535;
}

.page-content {
    display: flex;
    align-items: center;
}

.back-button {
    margin-left: 0; /* UsuĹ lewy margines */
    padding-left: 10px; /* Dodaj odstÄp od lewego brzegu */
}

.movie-container {
    width: 80%;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #242424;
}

.movie-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    background-color: #272727;
    border-bottom: 2px solid #353535;
}

.movie-embed-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.movie-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
}


.discord-button button:hover {
    background-color: #5f73a1;
}

.discord-logo {
    width: 32px;
    vertical-align: middle;
    margin-right: 10px;
}

.gray-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.gray-button:hover {
    background-color: darkgray;
}

.PDFKOMIKS {
 position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 220px;
    border: none;
    border-radius: 10px;
}

h2 {
color: #ffffff;
}

.comics-container {
    width: 540px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #242424;
}

.comics-title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    background-color: #272727;
    border-bottom: 2px solid #353535;
}
.filmy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.film {
    position: relative;
    width: 140px;
    height: 200px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.film img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.film-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
    color: #D0A2FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    background-color: rgb(73, 14, 107, 0.9);
    font-size: 14px;
}

.film-title.show {
    opacity: 1;
    height: 25%;
}
.kontener {
    width: 80%;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px transparent;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
}

.telewizor {
    position: relative;
    width: 140px;
    height: 140px;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
.telewizor img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.movie-list {
    list-style-type: none;
    padding: 0;
    color: white;
}

.movie-list-item {
    margin: 10px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: rgb(73, 14, 107);
    border-radius: 20px;
    
    padding: 5px;
}

.movie-list-item a {
    text-decoration: none;
    color: #D0A2FF;
    font-size: 20px;
    display: block;
    transform-origin: right;
    transition: transform 0.3s, color 0.5s;
    
}

::-webkit-scrollbar{
width: 10px;
}

::-webkit-scrollbar-thumb{
border-radius: 20px;
background: gray}

::-webkit-scrollbar-track{
    background: transparent;
}
